body {
	background: #E6E6FA;
	color: #0000FF;
}

p {	font-family : Segoe UI Emojif;
	font-style : italic;
	font-size : 16pt;
	color: #DC143C;
}

 h1{
	font-family: Copperplate , Helvetica, sans-serif;
	font-size: 24pt;
	color:  #000080;
}
